# List with the information specific to each product
# Specify items as follows
# It is recommended to use aliases when possible
# {
#     'Product': {
#         port = xxxx
#         hostnames = [
#             'server1',
#             'server2',
#             'server3'
#         ]
#     }
# }
LICENSE_SERVERS = []